alembic==1.17.2
celery==5.6.0
cryptography==45.0.7
email-validator==2.3.0
fastapi==0.123.0
httpx==0.28.1
ImageHash>=4.3.2
numpy==2.3.5
Pillow>=11.3.0
psycopg2-binary==2.9.11
pgvector>=0.2.5
pydantic==2.12.5
pydantic_core
pydantic-settings
python-dotenv==1.2.1
python-multipart>=0.0.9
redis==5.3.1
scikit-image==0.25.2
SQLAlchemy==2.0.44
sqlmodel==0.0.27
torch>=2.3.0
torchvision>=0.18.0
transformers>=4.44.0
uvicorn==0.38.0
