black==25.1.0
cryptography==45.0.5
email-validator==2.2.0
httpx==0.28.1
mypy==1.16.1
mypy-extensions==1.1.0
pydantic==2.11.7
pydantic_core
pytest==8.4.1
pytest-asyncio==0.26.0
pytest-cov==5.0.0
pytest-mock==3.14.1
ruff==0.12.3