fastapi==0.115.2 
uvicorn[standard]==0.32.0 
psycopg2-binary==2.9.9 
sqlalchemy==2.0.35 
celery[redis]==5.4.0 
alembic==1.13.3 
python-dotenv==1.0.1 
sqlmodel==0.0.22 
pydantic==2.9.2 
pydantic-settings==2.5.2 
numpy==2.1.2 
Pillow==11.0.0 
playwright==1.47.0 
opencv-python==4.10.0.84 
scikit-image==0.24.0