fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy
celery[redis]
alembic
python-dotenv
sqlmodel
pydantic==2.11.0
pydantic-settings==2.2.1
numpy
Pillow
playwright
opencv-python
scikit-image
pytest-asyncio
pytest-cov
pytest
httpx
mypy==1.15.0
mypy_extensions==1.1.0